@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Baumans&display=swap');
/* font-family: "Amatic SC", sans-serif; font-family: "Baumans", system-ui; */

* {
    font-family: "Amatic SC", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*********************index********************/
/* BODY  */

.index-body {
    color: white;
    display: inline;
    flex-direction: row;
    background-image: url(../asset/backgrounds/alegra-head-background-head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.color {
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

/* HEADER*/

.index-body header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30rem;
    width: 100%;
}

.main {
    color: white;
    font-size: 15rem;
    margin-top: 2rem;
    margin-left: 5rem;
}

.main-nav {
    display: inline-block;
    text-align: right;
    flex-wrap: nowrap;
    height: min-content;
    margin-top: 10rem;
    color: white;
    width: 100%;
}

.all {
    display: flex;
    flex-direction: column-reverse;
}

.options {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: end;
    padding: 0;
}

.color {
    text-decoration: none;
    font-display: none;
}

.options li {
    display: inline;
    font-size: 2.25rem;
    text-align: center;
    list-style: none;
}

body a:hover {
    color: blueviolet;
}

/* MAIN */

.index-main {
    width: 100%;
}

.salegroup {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 58rem;
    justify-content: center;
}

.sale-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18rem;
    height: 58rem;
}

.sale-title h2 {
    margin-top: 4rem;
    font-size: 4rem;
}

.sale-title a {
    text-align: center;
    flex-grow: 1;
    color: white;
    font-display: none;
    text-decoration: none;
}

.sales {
    font-size: 3rem;
    height: 28.125rem;
    padding-left: 4rem;
}

.main-pic {
    width: 36.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-pic img {
    align-items: center;
    height: 50rem;
    width: 30rem;
    align-items: end;
}

.small-pic {
    height: 58rem;
    width: 21.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.small-1,
.small-2,
.small-3 {
    text-align: center;
}

.small-1 img {
    height: 16rem;
    width: 12rem;
}

.small-2 img {
    height: 16rem;
    width: 12rem;
}

.small-3 img {
    height: 16rem;
    width: 12rem;
}

.small-pic a:hover {
    color: yellow;
}

.small-1 img:hover,
.small-2 img:hover,
.small-3 img:hover {
    filter: drop-shadow(2px 2px 5px yellow);
}


/* FOOTER */

.index-footer {
    height: 22.5rem;
    width: 100%;
    background-color: #1F3732;
    margin-top: 0rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.first {
    background-image: url(../asset/backgrounds/colibri.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-content: baseline;
}

.first h2 {
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    flex: 1;
}

.media-index {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.input {
    display: column;
    justify-content: center;
    margin-top: 2.5rem;
}

.newsletter {
    justify-content: center;
    flex: 1;
}

.sub {
    padding-top: 2.5rem;
}

.sub button {
    text-align: start;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    justify-content: space-around;
}

.footer ul {
    width: 100%;
    padding: 0;
    justify-content: space-between;
    padding-top: 2.5rem;
    align-content: end;
}

.footer ul li {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 150px;
}

.location {
    display: flex;
    padding-bottom: 1.25rem;
    gap: 33%;
}

.last {
    padding-right: 3rem;
    margin-top: 2.5rem;
}

@media (max-width: 1024px) {

    .index-body header {
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
        background-position-y: -10rem;
    }

    .main {
        width: min-content;
        height: 100px;
        font-size: 5.5rem;
        margin: 0;
        text-align: center;
    }

    .main-nav {
        width: 100%;
        height: 100px;
        font-size: 5.5rem;
        display: flex;
        flex-direction: row;
        margin: 0;
        align-items: center;
    }

    .options {
        height: 30px;
        width: 100%;
        justify-content: space-around;
    }

    .options li {
        font-size: 24px;
        width: 120px;
    }

    .sale-title h2 {
        text-align: center;
    }

    .input {
        padding-left: 2rem;
    }

    .footer ul {
        display: flex;
        justify-content: space-around;
    }

    .footer ul li {
        width: max-content;
        align-items: end;
    }

    .last {
        padding-right: 1rem;
    }
}

@media (max-width: 768px) {

    .index-body header {
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
    }

    .main {
        width: 100%;
        height: 100px;
        font-size: 5.5rem;
        margin: 0;
        text-align: center;
    }

    .main-nav {
        width: 100%;
        height: 100px;
        font-size: 5.5rem;
        display: flex;
        flex-direction: row;
        margin: 0;
        align-items: center;
    }

    .index-main {
        height: 700px;
    }

    .options {
        height: 30px;
        width: 100%;
        justify-content: space-around;
    }

    .options li {
        font-size: 24px;
        width: 120px;
    }

    .salegroup {
        margin: 0;
        height: 700px;
    }

    .sale-title {
        width: 230px;
    }

    .sale-title h2 {
        padding-top: 20px;
        padding-left: 40px;
        margin: 0;
    }

    .main-pic {
        width: 350px;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .main-pic img {
        margin: 0;
        width: 300px;
        height: 500px;
    }

    .sale-title {
        height: 700px;
    }

    .small-pic {
        width: 180px;
        height: 700px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .small-1 img {
        width: 160px;
        height: 200px;
    }

    .small-2 img {
        width: 160px;
        height: 200px;
    }

    .small-3 img {
        width: 160px;
        height: 200px;
    }

    .index-footer {
        height: 300px;
    }

    .first {
        height: 290px;
        width: 200px;
    }

    .input {
        margin-top: 20px;
        margin-left: 15px;
        width: 290px;
        height: 300px;
    }

    .last {
        margin-top: 20px;
        margin-left: 15px;
        height: 300px;
    }

    .horas {
        padding-right: 10px;
    }

    .footer ul {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }

    .footer ul li {
        justify-content: center;
    }

    .last {
        height: 260px;
        width: 220px;
        padding: 0;
    }

    iframe {
        width: 210px;
    }
}

@media (max-width: 426px) {

    .index-body {
        background-image: url(../asset/backgrounds/gallery-BG.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .index-body header {
        height: 10rem;
        background-image: none;
    }

    .main-nav,
    .salegroup a,
    .salegroup img,
    .main-pic,
    .sale-title,
    .sale-title h2,
    .first h2 {
        display: none;
    }

    .index-main {
        background-image: none;
    }

    .small-pic {
        display: grid;
        width: 20rem;
        grid-template-rows: 9.375rem 9.375rem 9.375rem;
        grid-template-columns: 17.5rem;
        align-content: space-around;
    }

    .small-1 {
        grid-area: 1/1;
        background-image: url(../asset/iphone/coat320.jpg);
        align-items: center;
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .small-2 {
        grid-area: 2/1;
        background-image: url(../asset/iphone/blusa320.jpg);
        align-items: center;
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .small-3 {
        grid-area: 3/1;
        background-image: url(../asset/iphone/pant320.jpg);
        align-items: center;
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .index-footer {
        height: 6.25rem;
        background-color: rgb(83, 83, 52);
    }

    .first {
        background-image: none;
        height: 6.25rem;
        width: 100%;
        justify-content: center;
    }

    .index-footer h2 {
        flex-direction: column;
        height: 3.125rem;
    }

    .input,
    .footer,
    .last {
        display: none;
    }
}

/*********************login********************/
/* BODY */

.login-body {
    background-image: url(../asset/backgrounds/fullback-login.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    width: 100%;
    height: max-content;
    color: white;
}

/* HEADER */

.log-title {
    color: white;
    font-size: 2rem;
}

/* MAIN */

.main-login {
    width: 50rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 {
    background-image: url(../asset/backgrounds/hanged-bw.jpg);
    width: 37.5rem;
    height: 25rem;
    background-size: cover;
    align-content: center;

}

.blur1 {
    width: 18.75rem;
    height: 18.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.log-in1 {
    width: 25rem;
    height: 18.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.log-in1 h2 {
    font-size: 3rem;
    margin: 0px;
}

.log-in-input {
    display: flex;
    flex-direction: column;
    width: 9.375rem;
    height: 4.0625rem;
}

.press-login {
    align-items: flex-start;
    width: 150px;
    height: 20px;
}

.forgot a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section2 {
    background-image: url(../asset/backgrounds/department-bw.jpg);
    margin-top: 2.5rem;
    width: 37.5rem;
    height: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.blur2 {
    width: 18.75rem;
    height: 18.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.log-in2 {
    width: 25rem;
    height: 18.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}

.log-in2 h2 {
    font-size: 3rem;
    margin: 0;
}

.sign-up-input {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.forgot a {
    color: white;
}

.press-login:focus{
    color: blueviolet;
}

@media (max-width: 426px){

    .a1 {
        font-size: 2.5rem;
    }

    .main-login {
        width: 100%;
    }

    .section1 {
        width: 23rem;
        height: 100%;
    }

    .section2 {
        width: 23rem;
    }
}

@media (max-width: 375px){

    .a1 {
        font-size: 2rem;
    }

    .main-login {
        width: 100%;
    }

    .section1 {
        width: 15rem;
        height: 100%;
    }

    .blur1 {
        width: 15rem;
    }

    .section2 {
        width: 15rem;
    }
}

@media (max-width: 320px){

    .a1 {
        font-size: 2rem;
    }

    .main-login {
        width: 100%;
    }

    .section1 {
        width: 15rem;
        height: 100%;
    }

    .blur1 {
        width: 15rem;
    }

    .section2 {
        width: 15rem;
    }
}

/* FOOTER */

.login-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-section {
    width: 37.5rem;
}

.login-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}



/* ****************Galeria******************** */
/* ******CAMPERAS - BLUSAS - PANTALONES***** */

/* BODY */
.galeria-page {
    background-image: url(../asset/backgrounds/gallery-BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

/* HEADER */
.galeria-menu {
    /* background-image: url(../asset/backgrounds/girl-smiling-full-big.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}

.galeria-list {
    font-size: 3.125rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.galeria-list li {
    display: flex;
    flex-direction: row;
}

.title-gal {
    display: flex;
    flex-direction: row;
    padding-top: 6.25rem;
    font-size: 6.25rem;
    justify-content: center;
}

/* MAIN */

/* blusas */

.master-grid {
    height: 1380px;
    justify-items: center;
    padding-left: 1.25rem;
}

.master-grid p {
    color: white;
    font-size: 1.25rem;
    font-weight: bolder;
}

.left-section {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 500px 40px;
    justify-content: space-around;
}

.blusa-pic1-1 {
    background-image: url(../asset/blusas/blusas-f1.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 1/1;
}

.pic1-1description {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .9375rem;
    padding-left: .9375rem;
    grid-area: 2/1;
}

.blusa-pic1-2 {
    background-image: url(../asset/blusas/blusas-f1.2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    align-items: center;
    grid-area: 1/2;
}

.pic1-2description {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .9375rem;
    padding-left: .9375rem;
    grid-area: 2/2;
}

.blusa-pic1-3 {
    background-image: url(../asset/blusas/blusas-f1.3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    align-items: center;
    grid-area: 1/3;
}

.pic1-3description {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2.1875rem;
    padding-left: .9375rem;
    grid-area: 2/3;
}

.mid-grid {
    display: grid;
    grid-template-columns: 266px 266px 266px 266px 266px;
    grid-template-rows: 350px 40px 350px 40px;
    justify-content: space-around;
    padding-right: 20px;
}

.blusa-pic2-1 {
    background-image: url(../asset/blusas/blusas-f2.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    grid-area: 1/1;
}

.pic2-1description {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .9375rem;
    padding-left: .9375rem;
    grid-area: 2/1;
}

.blusa-pic2-2 {
    background-image: url(../asset/blusas/blusas-f2.2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
    height: 100%;
    grid-area: 1/2;
}

.pic2-2description {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .9375rem;
    padding-left: .9375rem;
    grid-area: 2/2;
}

.blusa-pic2-3 {
    background-image: url(../asset/blusas/blusas-f2.3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 1/3;
}

.pic2-3description {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .9375rem;
    padding-left: .9375rem;
    grid-area: 2/3;
}

.blusa-pic2-4 {
    background-image: url(../asset/blusas/blusas-f2-4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 1/4;
}

.pic2-4description {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .9375rem;
    padding-left: .9375rem;
    grid-area: 2/4;
}

.blusa-pic2-5 {
    background-image: url(../asset/blusas/blusas-f2-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 1/5;
}

.pic2-5description {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .9375rem;
    padding-left: .9375rem;
    grid-area: 2/5;
}

.blusa-pic3-1 {
    background-image: url(../asset/blusas/blusas-f3.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/1;
}

.pic3-1description {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .9375rem;
    padding-left: .9375rem;
    grid-area: 4/1;
}

.blusa-pic3-2 {
    background-image: url(../asset/blusas/blusas-f3.2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/2;
}

.pic3-2description {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .9375rem;
    padding-left: .9375rem;
    grid-area: 4/2;
}

.blusa-pic3-3 {
    background-image: url(../asset/blusas/blusas-f3.3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/3;
}

.pic3-3description {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .9375rem;
    padding-left: .9375rem;
    grid-area: 4/3;
}

.blusa-pic3-4 {
    background-image: url(../asset/blusas/blusas-f3-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/4;
}

.pic3-4description {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .9375rem;
    padding-left: .9375rem;
    grid-area: 4/4;
}

.blusa-pic3-5 {
    background-image: url(../asset/blusas/blusas-f3-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/5;
}

.pic3-5description {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .9375rem;
    padding-left: .9375rem;
    grid-area: 4/5;
}

/* camperas */

.camperas-pic1-1 {
    background-image: url(../asset/camperas/campera-f1.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 1/1;
}

.camperas-pic1-2 {
    background-image: url(../asset/camperas/campera-f1.2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    align-items: center;
    grid-area: 1/2;
}

.camperas-pic1-3 {
    background-image: url(../asset/camperas/campera-f1.3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    align-items: center;
    grid-area: 1/3;
}

.camperas-pic2-1 {
    background-image: url(../asset/camperas/campera-f2.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    grid-area: 1/1;
}

.camperas-pic2-2 {
    background-image: url(../asset/camperas/campera-f2.2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
    height: 100%;
    grid-area: 1/2;
}

.camperas-pic2-3 {
    background-image: url(../asset/camperas/campera-f2.3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 1/3;
}

.camperas-pic2-4 {
    background-image: url(../asset/camperas/campera-f2.4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 1/4;
}

.camperas-pic2-5 {
    background-image: url(../asset/camperas/campera-f2.5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 1/5;
}

.camperas-pic3-1 {
    background-image: url(../asset/camperas/campera-f3.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/1;
}

.camperas-pic3-2 {
    background-image: url(../asset/camperas/campera-f3.2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/2;
}

.camperas-pic3-3 {
    background-image: url(../asset/camperas/campera-f3.3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/3;
}

.camperas-pic3-4 {
    background-image: url(../asset/camperas/campera-f3.4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/4;
}

.camperas-pic3-5 {
    background-image: url(../asset/camperas/campera-f3.5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/5;
}

/* pantalones */

.pants-pic1-1 {
    background-image: url(../asset/pantalones/pants-f1.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 1/1;
}

.pants-pic1-2 {
    background-image: url(../asset/pantalones/pants-f1.2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    align-items: center;
    grid-area: 1/2;
}

.pants-pic1-3 {
    background-image: url(../asset/pantalones/pants-f1.3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    align-items: center;
    grid-area: 1/3;
}

.pants-pic2-1 {
    background-image: url(../asset/pantalones/pants-f2.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    grid-area: 1/1;
}

.pants-pic2-2 {
    background-image: url(../asset/pantalones/pants-f2.2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -45px;
    height: 100%;
    grid-area: 1/2;
}

.pants-pic2-3 {
    background-image: url(../asset/pantalones/pants-f2.3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 1/3;
}

.pants-pic2-4 {
    background-image: url(../asset/pantalones/pants-f2.4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 1/4;
}

.pants-pic2-5 {
    background-image: url(../asset/pantalones/pants-f2.5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 1/5;
}

.pants-pic3-1 {
    background-image: url(../asset/pantalones/pants-f3.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/1;
}

.pants-pic3-2 {
    background-image: url(../asset/pantalones/pants-f3.2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/2;
}

.pants-pic3-3 {
    background-image: url(../asset/pantalones/pants-f3.3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/3;
}

.pants-pic3-4 {
    background-image: url(../asset/pantalones/pants-f3.4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/4;
}

.pants-pic3-5 {
    background-image: url(../asset/pantalones/pants-f3.5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: 3/5;
}

/* FOOTER */

footer {
    height: 100px;
}

.media {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
}

.media h2 {
    font-size: 80px;
    color: white;
    padding-left: 50px;
}

.icon {
    width: 1400px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


@media (max-width: 1024px) {

    .master-grid {
        height: 1600px;
    }

    .left-section {
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 350px 40px;
        justify-content: space-around;
    }

    .blusa-pic1-1 {
        background-position-x: -35px;
    }

    .blusa-pic1-3 {
        background-position-x: -15px;
    }

    .pic1-3description {
        padding-right: .9375rem;
    }

    .mid-grid {
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 350px 40px 350px 40px 350px 40px;
        justify-content: space-around;
        padding: 0;
    }

    .blusa-pic2-2 {
        background-position-y: 2px;
        background-size: cover;
    }

    .blusa-pic2-3 {
        background-size: cover;
        background-position-x: -30px;
    }

    .blusa-pic2-4,
    .camperas-pic2-4,
    .pants-pic2-4 {
        grid-area: 3/1;
        background-size: cover;
    }

    .pic2-4description {
        grid-area: 4/1;
    }

    .blusa-pic2-5,
    .camperas-pic2-5,
    .pants-pic2-5 {
        grid-area: 3/2;
        background-size: cover;
    }

    .pic2-5description {
        grid-area: 4/2;
    }

    .blusa-pic3-1,
    .camperas-pic3-1,
    .pants-pic3-1 {
        grid-area: 3/3;
        background-size: cover;
    }

    .pic3-1description {
        grid-area: 4/3;
    }

    .blusa-pic3-2,
    .camperas-pic3-2,
    .pants-pic3-2 {
        grid-area: 5/1;
        background-size: cover;
    }

    .pic3-2description {
        grid-area: 6/1;
    }

    .blusa-pic3-3,
    .camperas-pic3-3,
    .pants-pic3-3 {
        grid-area: 5/2;
        background-size: cover;
    }

    .pic3-3description {
        grid-area: 6/2;
    }

    .blusa-pic3-4,
    .camperas-pic3-4,
    .pants-pic3-4 {
        grid-area: 5/3;
        background-size: cover;
    }

    .pic3-4description {
        grid-area: 6/3;
    }

    .blusa-pic3-5,
    .camperas-pic3-5,
    .pants-pic3-5,
    .pic3-5description {
        display: none;
    }
}

@media (max-width: 726px) {

    .galeria-page {
        height: 2600px;
    }

    .galeria-menu {
        height: 200px;
    }

    .gal-nav {
        display: none;
    }

    .title-gal {
        font-size: 40px;
    }

    .master-grid {
        height: 2200px;
    }

    .left-section {
        display: grid;
        grid-template-columns: 140px 140px;
        grid-template-rows: 300px 60px;
        justify-content: center;
        justify-content: space-around;
    }

    .pants-pic1-1,
    .blusa-pic1-1,
    .camperas-pic1-1 {
        grid-area: 1/1;
    }

    .pic1-1description {
        grid-area: 2/1;
    }

    .pants-pic1-2,
    .blusa-pic1-2,
    .camperas-pic1-2 {
        grid-area: 1/2;
    }

    .pic1-2description {
        grid-area: 2/2;
    }

    .pants-pic1-3,
    .blusa-pic1-3,
    .camperas-pic1-3,
    .pic1-3description {
        display: none;
    }

    .mid-grid {
        display: grid;
        grid-template-columns: 140px 140px;
        grid-template-rows: 300px 60px 300px 60px 300px 60px 300px 60px 300px 60px;
        justify-content: center;
        justify-content: space-around;
    }

    .pants-pic2-1,
    .blusa-pic2-1,
    .camperas-pic2-1 {
        grid-area: 1/1;
    }

    .pic2-1description {
        grid-area: 2/1;
    }

    .pants-pic2-2,
    .blusa-pic2-2,
    .camperas-pic2-2 {
        grid-area: 1/2;
    }

    .pic2-2description {
        grid-area: 2/2;
    }

    .pants-pic2-3,
    .blusa-pic2-3,
    .camperas-pic2-3 {
        grid-area: 3/1;
    }

    .pic2-3description {
        grid-area: 4/1;
    }

    .pants-pic2-4,
    .blusa-pic2-4,
    .camperas-pic2-4 {
        grid-area: 3/2;
    }

    .pic2-4description {
        grid-area: 4/2;
    }

    .pants-pic2-5,
    .blusa-pic2-5,
    .camperas-pic2-5 {
        grid-area: 5/1;
    }

    .pic2-5description {
        grid-area: 6/1;
    }

    .pants-pic3-1,
    .blusa-pic3-1,
    .camperas-pic3-1 {
        grid-area: 5/2;
    }

    .pic3-1description {
        grid-area: 6/2;
    }

    .pants-pic3-2,
    .blusa-pic3-2,
    .camperas-pic3-2 {
        grid-area: 7/1;
    }

    .pic3-2description {
        grid-area: 8/1;
    }

    .pants-pic3-3,
    .blusa-pic3-3,
    .camperas-pic3-3 {
        grid-area: 7/2;
    }

    .pic3-3description {
        grid-area: 8/2;
    }

    .pants-pic3-4,
    .blusa-pic3-4,
    .camperas-pic3-4 {
        grid-area: 9/1;
    }

    .pic3-4description {
        grid-area: 10/1;
    }

    /* .pants-pic3-5 {
        background-image: url(../asset/pantalones/pants-f3.5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        grid-area: 9/2;
    }

    .pic3-5description {
        grid-area: 10/2;
    } */

    .media {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .media h2 {
        padding: 0;
    }

    .icon {
        width: min-content;
        gap: 50px;
    }
}