@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Baumans&display=swap");
body a:hover {
  background: linear-gradient(0deg, #5a2dfd 0%, #c34a22 100%);
  background-clip: text;
  color: transparent; }

* {
  font-family: "Amatic SC", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.color {
  color: white; }

a {
  color: black;
  text-decoration: none; }

/* ****************Galeria******************** */
.index-body {
  color: white;
  display: inline;
  flex-direction: row;
  background-image: url(../asset/backgrounds/alegra-head-background-head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto; }

/*********************login********************/
.login-body {
  background-image: url(../asset/backgrounds/fullback-login.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: center;
  gap: 36px;
  width: 100%;
  height: max-content;
  color: white; }

/* ****************Galeria******************** */
/* ******CAMPERAS - BLUSAS - PANTALONES***** */
.galeria-page {
  background-image: url(../asset/backgrounds/gallery-BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: auto;
  width: 100%; }

/* ****************Index******************** */
.index-body header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: none;
  height: 30rem;
  width: 100%; }

.main {
  color: white;
  font-size: 15rem;
  text-align: center;
  width: 100%; }

.all {
  width: 100%; }

.main-nav {
  display: inline-block;
  text-align: right;
  height: auto;
  margin-top: 10rem;
  color: white;
  width: 100%; }

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-between;
  align-items: none;
  padding-right: 2rem; }
  .options li {
    display: flex;
    font-size: 2.25rem;
    list-style: none; }
    .options li a {
      display: flex;
      justify-content: start; }
      .options li a:hover {
        background: linear-gradient(0deg, #5a2dfd 0%, #c34a22 100%);
        background-clip: text;
        color: transparent; }

.color {
  text-decoration: none; }

.log-title {
  color: white;
  font-size: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: none; }

.goback {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: center; }
  .goback img {
    object-fit: contain; }

.a1 {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  width: 100%; }

.gal-nav {
  width: 100%; }

.galeria-list {
  width: 100%;
  display: flex;
  flex-direction: none;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: none;
  font-size: 3.125rem;
  padding: 0;
  list-style: none; }
  .galeria-list a {
    color: white; }

.all {
  width: 100%; }

.gal-title {
  width: 100%; }
  .gal-title h1 {
    color: white;
    font-size: 6.25rem;
    text-align: center; }

/* ****************INDEX******************** */
.index-main {
  height: 960px; }

.salegroup {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-around;
  align-items: none; }

.sale-title {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: space-between;
  align-items: none;
  height: 58rem; }
  .sale-title h2 {
    margin-top: 4rem;
    font-size: 64px;
    text-align: center; }
  .sale-title a {
    text-align: center;
    color: white;
    text-decoration: none; }
    .sale-title a:hover {
      background: linear-gradient(0deg, #5a2dfd 0%, #c34a22 100%);
      background-clip: text;
      color: transparent; }

.sales {
  font-size: 3rem;
  height: 28.125rem;
  text-align: center; }

.main-pic {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center; }

.small-pic {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: space-around;
  align-items: none; }
  .small-pic a:hover {
    background: linear-gradient(0deg, #5a2dfd 0%, #c34a22 100%);
    background-clip: text;
    color: transparent; }
  .small-pic .small-1,
  .small-pic .small-2,
  .small-pic .small-3 {
    text-align: center; }
    .small-pic .small-1 img,
    .small-pic .small-2 img,
    .small-pic .small-3 img {
      height: 16rem;
      width: 12rem;
      box-shadow: 0.3125rem 0.3125rem 0.125rem #a07660; }
      .small-pic .small-1 img:hover,
      .small-pic .small-2 img:hover,
      .small-pic .small-3 img:hover {
        filter: drop-shadow(0.125rem 0.125rem 0.3125rem #846035); }

.main-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: center; }

.section1 {
  background-image: url(../asset/backgrounds/hanged-bw.jpg);
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  background-size: cover;
  align-content: center; }

.blur1 {
  width: 18.75rem;
  height: 18.75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: none;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px; }

.log-in1 {
  width: 25rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: space-between;
  align-items: center;
  margin: 0; }
  .log-in1 h2 {
    font-size: 3rem;
    margin: 0; }

.log-in-input {
  display: flex;
  flex-direction: column;
  width: 9.375rem;
  height: 4.0625rem; }

.press-login {
  align-items: flex-start;
  width: 150px;
  height: 20px; }
  .press-login:focus {
    color: blueviolet; }

.forgot a {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: none;
  color: white; }

.section2 {
  background-image: url(../asset/backgrounds/department-bw.jpg);
  margin-top: 2.5rem;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  align-content: center; }

.blur2 {
  width: 18.75rem;
  height: 18.75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: none;
  align-content: center;
  margin: auto;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px; }

.log-in2 {
  width: 25rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: space-between;
  align-items: center;
  margin: 0; }
  .log-in2 h2 {
    font-size: 3rem;
    margin: 0; }

.sign-up-input {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column; }

/* ****************Galeria******************** */
/* ******CAMPERAS - BLUSAS - PANTALONES***** */
.master-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: space-around;
  align-items: none;
  justify-items: center;
  padding-left: 1.25rem; }
  .master-grid p {
    color: white;
    font-size: 1.25rem;
    font-weight: bolder; }

.left-section {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 18.75rem);
  grid-template-rows: 25rem 5rem; }
  .left-section .blusa-pic1-1 img,
  .left-section .blusa-pic1-2 img,
  .left-section .blusa-pic1-3 img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
    width: 18.75rem;
    align-items: center;
    box-shadow: 10px 10px 5px #747474; }
  .left-section .blusa-pic1-1 {
    grid-area: 1/1; }
  .left-section .blusa-pic1-2 {
    grid-area: 1/2; }
  .left-section .blusa-pic1-3 {
    grid-area: 1/3; }
  .left-section .pic1-1description,
  .left-section .pic1-2description,
  .left-section .pic1-3description {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-between;
    align-items: none;
    padding-right: .9375rem;
    padding-left: .9375rem; }
  .left-section .pic1-1description {
    grid-area: 2/1; }
  .left-section .pic1-2description {
    grid-area: 2/2; }
  .left-section .pic1-3description {
    grid-area: 2/3; }

.mid-grid {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat 5, 12.5rem;
  grid-template-rows: repeat 5, 18.75rem 5rem; }
  .mid-grid .blusa-pic2-1 img,
  .mid-grid .blusa-pic2-2 img,
  .mid-grid .blusa-pic2-3 img,
  .mid-grid .blusa-pic2-4 img,
  .mid-grid .blusa-pic2-5 img,
  .mid-grid .blusa-pic3-1 img,
  .mid-grid .blusa-pic3-2 img,
  .mid-grid .blusa-pic3-3 img,
  .mid-grid .blusa-pic3-4 img,
  .mid-grid .blusa-pic3-5 img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 12.5rem;
    height: 18.75rem;
    box-shadow: 10px 10px 5px #747474; }
  .mid-grid .blusa-pic2-1 {
    grid-area: 1/1; }
  .mid-grid .blusa-pic2-2 {
    grid-area: 1/2;
    background-position-y: -2.8125rem; }
  .mid-grid .blusa-pic2-3 {
    grid-area: 1/3; }
  .mid-grid .blusa-pic2-4 {
    grid-area: 1/4; }
  .mid-grid .blusa-pic2-5 {
    grid-area: 1/5; }
  .mid-grid .blusa-pic3-1 {
    grid-area: 3/1; }
  .mid-grid .blusa-pic3-2 {
    grid-area: 3/2; }
  .mid-grid .blusa-pic3-3 {
    grid-area: 3/3; }
  .mid-grid .blusa-pic3-4 {
    grid-area: 3/4; }
  .mid-grid .blusa-pic3-5 {
    grid-area: 3/5; }
  .mid-grid .pic2-1description,
  .mid-grid .pic2-2description,
  .mid-grid .pic2-3description,
  .mid-grid .pic2-4description,
  .mid-grid .pic2-5description,
  .mid-grid .pic3-1description,
  .mid-grid .pic3-2description,
  .mid-grid .pic3-3description,
  .mid-grid .pic3-4description,
  .mid-grid .pic3-5description {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-between;
    align-items: none;
    padding-right: .9375rem;
    padding-left: .9375rem; }
  .mid-grid .pic2-1description {
    grid-area: 2/1; }
  .mid-grid .pic2-2description {
    grid-area: 2/2; }
  .mid-grid .pic2-3description {
    grid-area: 2/3; }
  .mid-grid .pic2-4description {
    grid-area: 2/4; }
  .mid-grid .pic2-5description {
    grid-area: 2/5; }
  .mid-grid .pic3-1description {
    grid-area: 4/1; }
  .mid-grid .pic3-2description {
    grid-area: 4/2; }
  .mid-grid .pic3-3description {
    grid-area: 4/3; }
  .mid-grid .pic3-4description {
    grid-area: 4/4; }
  .mid-grid .pic3-5description {
    grid-area: 4/5; }

.camperas-pic1-1 img,
.camperas-pic1-2 img,
.camperas-pic1-3 img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  width: 18.75rem;
  align-items: center;
  box-shadow: 10px 10px 5px #747474; }

.camperas-pic1-1 {
  grid-area: 1/1; }

.camperas-pic1-2 {
  grid-area: 1/2; }

.camperas-pic1-3 {
  grid-area: 1/3; }

.camperas-pic2-1 img,
.camperas-pic2-2 img,
.camperas-pic2-3 img,
.camperas-pic2-4 img,
.camperas-pic2-5 img,
.camperas-pic3-1 img,
.camperas-pic3-2 img,
.camperas-pic3-3 img,
.camperas-pic3-4 img,
.camperas-pic3-5 img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 12.5rem;
  height: 18.75rem;
  box-shadow: 10px 10px 5px #747474; }

.camperas-pic2-1 {
  grid-area: 1/1; }

.camperas-pic2-2 {
  grid-area: 1/2;
  background-position-y: -2.8125rem; }

.camperas-pic2-3 {
  grid-area: 1/3; }

.camperas-pic2-4 {
  grid-area: 1/4; }

.camperas-pic2-5 {
  grid-area: 1/5; }

.camperas-pic3-1 {
  grid-area: 3/1; }

.camperas-pic3-2 {
  grid-area: 3/2; }

.camperas-pic3-3 {
  grid-area: 3/3; }

.camperas-pic3-4 {
  grid-area: 3/4; }

.camperas-pic3-5 {
  grid-area: 3/5; }

.pants-pic1-1 img,
.pants-pic1-2 img,
.pants-pic1-3 img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  width: 18.75rem;
  align-items: center;
  box-shadow: 10px 10px 5px #747474; }

.pants-pic1-1 {
  grid-area: 1/1; }

.pants-pic1-2 {
  grid-area: 1/2; }

.pants-pic1-3 {
  grid-area: 1/3; }

.pants-pic2-1 img,
.pants-pic2-2 img,
.pants-pic2-3 img,
.pants-pic2-4 img,
.pants-pic2-5 img,
.pants-pic3-1 img,
.pants-pic3-2 img,
.pants-pic3-3 img,
.pants-pic3-4 img,
.pants-pic3-5 img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 12.5rem;
  height: 18.75rem;
  box-shadow: 10px 10px 5px #747474; }

.pants-pic2-1 {
  grid-area: 1/1; }

.pants-pic2-2 {
  grid-area: 1/2;
  background-position-y: -2.8125rem; }

.pants-pic2-3 {
  grid-area: 1/3; }

.pants-pic2-4 {
  grid-area: 1/4; }

.pants-pic2-5 {
  grid-area: 1/5; }

.pants-pic3-1 {
  grid-area: 3/1; }

.pants-pic3-2 {
  grid-area: 3/2; }

.pants-pic3-3 {
  grid-area: 3/3; }

.pants-pic3-4 {
  grid-area: 3/4; }

.pants-pic3-5 {
  grid-area: 3/5; }

.index-footer {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-between;
  align-items: none;
  width: 100%;
  background-color: #1F3732; }
  .index-footer .first {
    background-image: url(../asset/backgrounds/colibri.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    position: relative; }
    .index-footer .first h2 {
      font-size: 3rem;
      text-align: center;
      display: flex;
      justify-content: center;
      margin: 0;
      flex: 1; }
  .index-footer .media-index {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-evenly;
    align-items: none; }
  .index-footer .input {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: space-around;
    align-items: none; }
    .index-footer .input p {
      margin-bottom: 0; }

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-between;
  align-items: none; }
  .footer ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    padding-top: 2.5rem; }
    .footer ul li {
      list-style: none;
      display: inline-flex; }
      .footer ul li:hover a {
        background: linear-gradient(0deg, #5a2dfd 0%, #c34a22 100%);
        background-clip: text;
        color: transparent; }

.last {
  width: 20%;
  padding-right: .625rem;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: space-around;
  align-items: none; }

.location {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-around;
  align-items: center; }
  .location .address {
    font-size: larger; }

.iframe {
  position: relative; }
  .iframe iframe {
    width: 100%; }

.login-footer {
  width: 100%;
  height: 6.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: none; }

.login-section {
  width: 37.5rem; }

.login-media {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: none;
  justify-content: space-around; }

.media {
  width: 100%;
  display: inline-flex;
  flex-direction: row; }
  .media h2 {
    height: 5.625rem;
    font-size: 5rem;
    color: white;
    padding-left: 50px; }

.icon {
  width: 87.5rem;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-around;
  align-items: center; }

@media (max-width: 1024px) {
  .index-body header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-position-y: -10rem; }
  .main {
    width: min-content;
    font-size: 10rem;
    margin: 0;
    text-align: center; }
  .main-nav {
    width: 100%;
    font-size: 5.5rem;
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center; }
  .options {
    display: flex;
    justify-content: space-around;
    width: 100%; }
    .options li {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      width: 120px; }
  .sale-title h2 {
    text-align: center; }
  .input {
    padding-left: 2rem; }
  .footer ul {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .footer ul li {
      width: max-content;
      align-items: end; } }

@media (max-width: 1024px) {
  .master-grid {
    gap: 16px; }
  .master-grid .left-section {
    grid-template-columns: 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 18.75rem 2.5rem;
    justify-content: space-around; }
  .left-section .blusa-pic1-1 img,
  .left-section .blusa-pic1-2 img,
  .left-section .blusa-pic1-3 img,
  .left-section .camperas-pic1-1 img,
  .left-section .camperas-pic1-2 img,
  .left-section .camperas-pic1-3 img,
  .left-section .pants-pic1-1 img,
  .left-section .pants-pic1-2 img,
  .left-section .pants-pic1-3 img {
    width: 12.5rem;
    height: 18.75rem; }
  .master-grid .mid-grid {
    grid-template-columns: 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 18.75rem 2.5rem 18.75rem 2.5rem 18.75rem 2.5rem;
    justify-content: space-around;
    padding: 0; }
  .blusa-pic2-2 {
    background-position-y: 2px;
    background-size: cover; }
  .blusa-pic2-3 {
    background-size: cover;
    background-position-x: -30px; }
  .mid-grid .blusa-pic2-4,
  .camperas-pic2-4,
  .pants-pic2-4 {
    grid-area: 3/1;
    background-size: cover; }
  .mid-grid .pic2-4description {
    grid-area: 4/1; }
  .mid-grid .blusa-pic2-5,
  .camperas-pic2-5,
  .pants-pic2-5 {
    grid-area: 3/2;
    background-size: cover; }
  .mid-grid .pic2-5description {
    grid-area: 4/2; }
  .mid-grid .blusa-pic3-1,
  .camperas-pic3-1,
  .pants-pic3-1 {
    grid-area: 3/3;
    background-size: cover; }
  .mid-grid .pic3-1description {
    grid-area: 4/3; }
  .mid-grid .blusa-pic3-2,
  .camperas-pic3-2,
  .pants-pic3-2 {
    grid-area: 5/1;
    background-size: cover; }
  .mid-grid .pic3-2description {
    grid-area: 6/1; }
  .mid-grid .blusa-pic3-3,
  .camperas-pic3-3,
  .pants-pic3-3 {
    grid-area: 5/2;
    background-size: cover; }
  .mid-grid .pic3-3description {
    grid-area: 6/2; }
  .mid-grid .blusa-pic3-4,
  .camperas-pic3-4,
  .pants-pic3-4 {
    grid-area: 5/3;
    background-size: cover; }
  .mid-grid .pic3-4description {
    grid-area: 6/3; }
  .mid-grid .blusa-pic3-5,
  .camperas-pic3-5,
  .pants-pic3-5 {
    display: none; }
  .mid-grid .pic3-5description {
    display: none; } }

@media (max-width: 768px) {
  .index-main {
    height: 700px; }
  .options {
    height: 1.875rem;
    width: 100%;
    justify-content: space-around; }
    .options li {
      font-size: 24px;
      width: 120px; }
  .salegroup {
    margin: 0;
    height: 700px; }
  .sale-title {
    width: 230px;
    height: 700px; }
    .sale-title h2 {
      padding-top: 20px;
      padding-left: 40px;
      margin: 0; }
  .main-pic {
    width: 350px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
    .main-pic img {
      margin: 0;
      width: 300px;
      height: 500px; }
  .small-pic {
    width: 180px;
    height: 700px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
    .small-pic .small-1 img,
    .small-pic .small-2 img,
    .small-pic .small-3 img {
      width: 160px;
      height: 200px; } }

@media (max-width: 650px) {
  .galeria-list {
    justify-content: space-around; }
    .galeria-list li {
      font-size: 1.5rem; }
  .gal-title .title-gal {
    font-size: 5rem; }
  .master-grid .left-section {
    display: grid;
    grid-template-columns: repeat(2, 12.5rem);
    grid-template-rows: 18.75rem 3.75rem;
    justify-content: space-around; }
    .master-grid .left-section .pants-pic1-3,
    .master-grid .left-section .blusa-pic1-3,
    .master-grid .left-section .camperas-pic1-3,
    .master-grid .left-section .pic1-3description {
      display: none; }
  .master-grid .mid-grid {
    display: grid;
    grid-template-columns: repeat(2, 12.5rem);
    grid-template-rows: repeat(4, 18.75rem 3.75rem) 18.75rem 60px;
    justify-content: space-around; }
    .master-grid .mid-grid .pants-pic2-3,
    .master-grid .mid-grid .blusa-pic2-3,
    .master-grid .mid-grid .camperas-pic2-3 {
      grid-area: 3/1; }
    .master-grid .mid-grid .pic2-3description {
      grid-area: 4/1; }
    .master-grid .mid-grid .pants-pic2-4,
    .master-grid .mid-grid .blusa-pic2-4,
    .master-grid .mid-grid .camperas-pic2-4 {
      grid-area: 3/2; }
    .master-grid .mid-grid .pic2-4description {
      grid-area: 4/2; }
    .master-grid .mid-grid .pants-pic2-5,
    .master-grid .mid-grid .blusa-pic2-5,
    .master-grid .mid-grid .camperas-pic2-5 {
      grid-area: 5/1; }
    .master-grid .mid-grid .pic2-5description {
      grid-area: 6/1; }
    .master-grid .mid-grid .pants-pic3-1,
    .master-grid .mid-grid .blusa-pic3-1,
    .master-grid .mid-grid .camperas-pic3-1 {
      grid-area: 5/2; }
    .master-grid .mid-grid .pic3-1description {
      grid-area: 6/2; }
    .master-grid .mid-grid .pants-pic3-2,
    .master-grid .mid-grid .blusa-pic3-2,
    .master-grid .mid-grid .camperas-pic3-2 {
      grid-area: 7/1; }
    .master-grid .mid-grid .pic3-2description {
      grid-area: 8/1; }
    .master-grid .mid-grid .pants-pic3-3,
    .master-grid .mid-grid .blusa-pic3-3,
    .master-grid .mid-grid .camperas-pic3-3 {
      grid-area: 7/2; }
    .master-grid .mid-grid .pic3-3description {
      grid-area: 8/2; }
    .master-grid .mid-grid .pants-pic3-4,
    .master-grid .mid-grid .blusa-pic3-4,
    .master-grid .mid-grid .camperas-pic3-4 {
      grid-area: 9/1; }
    .master-grid .mid-grid .pic3-4description {
      grid-area: 10/1; }
    .master-grid .mid-grid .blusa-pic3-5,
    .master-grid .mid-grid .camperas-pic3-5,
    .master-grid .mid-grid .pants-pic3-5 {
      display: contents;
      background-size: cover;
      background-repeat: no-repeat;
      grid-area: 9/2; }
    .master-grid .mid-grid .pic3-5description {
      display: inline-flex;
      justify-content: space-between;
      grid-area: 10/2; }
  .media {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .media h2 {
      padding: 0; }
  .icon {
    width: min-content;
    gap: 50px; } }

@media (max-width: 660px) {
  .main-pic {
    display: none; }
  .index-footer .first {
    width: 12.5rem; }
  .index-footer .input {
    display: none; }
  .index-footer .last {
    width: 60%; } }

@media (max-width: 426px) {
  .index-body {
    background: url(../asset/backgrounds/gallery-BG.jpg) no-repeat center/cover; }
    .index-body header {
      background: none; }
  .main-nav {
    height: min-content; }
  .options {
    display: flex;
    gap: 16px; }
    .options a {
      font-size: 1rem; }
  .sale-title,
  .sale-title a,
  .salegroup img,
  .main-pic,
  .sale-title h2,
  .first h2 {
    display: none; }
  .index-main {
    background: none; }
  .small-pic {
    display: grid;
    width: 20rem;
    grid-template-rows: repeat(3, 9.375rem);
    grid-template-columns: 17.5rem;
    align-content: space-around; }
    .small-pic a {
      font-size: 2rem; }
    .small-pic .small-1,
    .small-pic .small-2,
    .small-pic .small-3 {
      align-items: center;
      width: 100%;
      height: 100%;
      background-size: cover; }
    .small-pic .small-1 {
      grid-area: 1/1;
      background-image: url(../asset/iphone/coat320s.jpg); }
    .small-pic .small-2 {
      grid-area: 3/1;
      background-image: url(../asset/iphone/pant320s.jpg); }
    .small-pic .small-3 {
      grid-area: 2/1;
      background-image: url(../asset/iphone/blusa320s.jpg); }
  .index-footer {
    height: 6.25rem;
    background-color: #535334; }
    .index-footer .first {
      background: none;
      height: 6.25rem;
      width: 100%;
      justify-content: center; }
    .index-footer h2 {
      flex-direction: column;
      height: 3.125rem; }
  .input,
  .footer,
  .last {
    display: none; } }

@media (max-width: 426px) {
  .a1 {
    font-size: 2.5rem;
    padding-right: 2rem; }
  .main-login {
    width: 100%; }
  .section1 {
    width: 23rem; }
  .section2 {
    width: 23rem; } }

@media (max-width: 425px) {
  .galeria-page {
    height: fit-content; }
  .master-grid
.left-section {
    display: grid;
    grid-template-columns: repeat(2, 8.75rem);
    grid-template-rows: 12.5rem 4.75rem;
    justify-content: space-around;
    align-items: center; }
    .master-grid
.left-section img {
      background-repeat: no-repeat;
      background-size: cover;
      height: 12.5rem;
      width: 8.75rem; }
  .master-grid .mid-grid {
    display: grid;
    grid-template-columns: repeat(2, 8.75rem);
    grid-template-rows: repeat(5, 12.5rem 4.75rem);
    justify-content: space-around;
    align-items: center; }
    .master-grid .mid-grid img {
      background-repeat: no-repeat;
      background-size: cover;
      height: 12.5rem;
      width: 8.75rem; } }

@media (max-width: 375px) {
  .a1 {
    font-size: 2rem; }
  .main-login {
    width: 100%; }
  .blur1 {
    width: 15rem; }
  .blur2 {
    width: 15rem; } }

@media (max-width: 320px) {
  .a1 {
    font-size: 2rem; }
  .main-login {
    width: 100%; } }
