/* ****************Galeria******************** */
.index-body {
    color: white;
    display: inline;
    flex-direction: row;
    background-image: url(../asset/backgrounds/alegra-head-background-head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;
}

/*********************login********************/
.login-body {
    background-image: url(../asset/backgrounds/fullback-login.jpg);
    background-size: cover;
    @include flex (column, none, none, center);
    gap: 36px;
    width: 100%;
    height: max-content;
    color: white;
}


/* ****************Galeria******************** */
/* ******CAMPERAS - BLUSAS - PANTALONES***** */
.galeria-page {
    background-image: url(../asset/backgrounds/gallery-BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto;
    width: 100%;
}