/* ****************INDEX******************** */
.index-main {
    height: 960px;
}

.salegroup {
    width: 100%;
    height: 100%;
    @include inline (row, none, space-around, none);
}

.sale-title {
    @include flex (column, none, space-between, none);
    height: 58rem;

    h2 {
        margin-top: 4rem;
        font-size: 64px;
        text-align: center;
    }

    a {
        text-align: center;
        color: white;
        text-decoration: none;

        &:hover {
            background: linear-gradient(0deg, rgba(90, 45, 253, 1) 0%, rgba(195, 74, 34, 1) 100%);
            background-clip: text;
            color: transparent;
        }
    }
}

.sales {
    font-size: 3rem;
    height: 28.125rem;
    text-align: center;
}

.main-pic {
    @include flex (column, none, center, center);
}

.small-pic {
    @include flex (column, none, space-around, none);


    a:hover {
        background: linear-gradient(0deg, rgba(90, 45, 253, 1) 0%, rgba(195, 74, 34, 1) 100%);
        background-clip: text;
        color: transparent;
    }

    .small-1,
    .small-2,
    .small-3 {
        text-align: center;

        img {
            height: 16rem;
            width: 12rem;
            box-shadow: .3125rem .3125rem .125rem rgb(160, 118, 96);

            &:hover {
                filter: drop-shadow(.125rem .125rem .3125rem rgb(132, 96, 53));
            }
        }
    }
}