@mixin flex($direction, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin inline ($direction, $wrap, $justify, $align){
    display: inline-flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}


@mixin grids ($justify, $align) {
    display: grid;
    justify-content: $justify;
    align-items: $align;
}