@media (max-width: 425px) {

    .galeria-page {
        height: fit-content;
    }

    .master-grid 

        .left-section {
            display: grid;
            grid-template-columns: repeat(2, 8.75rem);
            grid-template-rows: 12.5rem 4.75rem;
            justify-content: space-around;
            align-items: center;
            img {
                background-repeat: no-repeat;
                background-size: cover;
                height: 12.5rem;
                width: 8.75rem;
            }}

        .master-grid .mid-grid {
            display: grid;
            grid-template-columns: repeat(2, 8.75rem);
            grid-template-rows: repeat(5, 12.5rem 4.75rem);
            justify-content: space-around;
            align-items: center;
            img {
                background-repeat: no-repeat;
                background-size: cover;
                height: 12.5rem;
                width: 8.75rem;
            }
        }
    }

