@media (max-width: 375px) {
    .a1 {
        font-size: 2rem;
    }

    .main-login {
        width: 100%;
    }

    .blur1 {
        width: 15rem;
    }

    .blur2 {
        width: 15rem;
    }
}