@media (max-width: 426px) {
    .a1 {
        font-size: 2.5rem;
        padding-right: 2rem;
    }

    .main-login {
        width: 100%;
    }

    .section1 {
        width: 23rem;
    }

    .section2 {
        width: 23rem;
    }
}
