@media (max-width: 660px) {

    .main-pic {
        display: none;
    }

    .index-footer {
        .first {
            width: 12.5rem;
        }

        .input {
            display: none;
        }

        .last {
            width: 60%;
        }
    }
}
